<div class="container container-small mt-5 d-flex justify-content-center">
  <div class="card text-center">
    <% if @pin.image.attached? %>
      <div class="card-img-top bg-dark">
        <%= image_tag @pin.image.variant(resize_to_fill:[600,400]), class:"mx-auto d-block" %>
      </div>
    <% end %>
    <div class="card-body text-center">
      <h1 class="card-title"><%= @pin.title %></h1>
      <p class="card-text"><%= @pin.description %></p>
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col">
          <small class="text-muted">Submitted by <%= @pin.user.email %></small>
        </div>
        <div class="col text-end">
          <div class="btn-group pull-right">
            <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-outline-dark" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
              </svg>
              <%= @pin.get_upvotes.size %>
            </span>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "Edit", edit_pin_path, class: "btn btn-outline-dark" %>
            <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
